
//container
.mc-container{
  @include col(4/4);
  padding: 4em;
  background: transparent;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @include responsive(phone){
    padding: 2em;
  }
}
//title
.message-container{
  width: 60%;
  padding: 3em;
  // background: grey;
  text-align: center;
  @include responsive(big-desktop){
    padding: 5.5em;
  }
  @include responsive(tab-land){
    width: 60%;
  }
  @include responsive(tab-port){
    width: 70%;
  }
  @include responsive(phone){
    width: 100%;
    padding: 3em 1em 3em 1em;
  }
}
//text
.mc-not-found{
  @include typo(3em, $darko, 900);
  margin-bottom: .2em;
  @include responsive(big-desktop){
    @include typo(5em, $white, 700);
  }
  @include responsive(tab-land){
    margin-bottom: .5em;
  }
  @include responsive(tab-port){
    @include typo(2.5em, $white, 700);
    margin-bottom: .1em;
  }
  @include responsive(phone){
    @include typo(2em, $white, 700);
    margin-bottom: .2em;
  }
}
.sorry-txt{
  @include typo(1.3em, #333, 300);
  margin-bottom: .7em;
  @include responsive(big-desktop){
    @include typo(2.5em, #333, 300);
  }
  @include responsive(tab-port){
    margin-bottom: 1em;
  }
  @include responsive(phone){
    @include typo(1.3em, #333, 300);
  }
}
//button
.back-to-original-site-btn{
  @include typo(1em, $white, 100);
  @include backToSiteBtn(#333, none, 1em);
  transition: all .2s ease-in-out;
  margin-top: 1em;
  @include responsive(big-desktop){
    @include typo(2em, $white, 100);
    @include backToSiteBtn(#333, none, 1em 3em 1em 3em);
  }
  @include responsive(tab-port){
    @include typo(1em, $white, 100);
  }
  &:hover{
    @include backToSiteBtn(rgb(75, 74, 74), none, 1em);
  }
  &:active,
  &:focus{
    text-decoration: none;
    outline: none;
  }
}
